mixin products(data)
    section.products
        .products__container.container
            h2.products__title.title.title_reg <span>Мессенджеры</span> – самый эффективный канал коммуникаций с клиентами

            ul.products__list

                li.products__item.products__item_active(data-rating='5')
                    .products__heading(data-title="Канал комуникации")
                        != pugHelpers.Icon.call(locals, {iconName: 'products-1-icon', className: 'products__item-icon'})
                        .products__item-title Мессенджеры

                    dl.products__specs
                        .products__specs-item.products__specs-item_3
                            dt.products__specs-term Эффективность
                            .products__specs-rating
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line

                            dd.products__specs-desc
                                .products__rating-val <span>5</span> / 5

                        .products__specs-item.products__specs-item_1
                            dt.products__specs-term Увидят (Open Rate)
                            dd.products__specs-desc 90%

                        .products__specs-item.products__specs-item_2
                            dt.products__specs-term Кликнут (Click Rate)
                            dd.products__specs-desc 50%

                li.products__item(data-rating='4')
                    .products__heading(data-title="Канал комуникации")

                        != pugHelpers.Icon.call(locals, {iconName: 'products-2-icon', className: 'products__item-icon'})
                        .products__item-title In app-push

                    dl.products__specs
                        .products__specs-item.products__specs-item_rating.products__specs-item_3
                            dt.products__specs-term Эффективность

                            .products__specs-rating
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line


                            dd.products__specs-desc
                                .products__rating-val <span>4</span> / 5

                        .products__specs-item.products__specs-item_1
                            dt.products__specs-term Увидят (Open Rate)
                            dd.products__specs-desc 50%

                        .products__specs-item.products__specs-item_2
                            dt.products__specs-term Кликнут (Click Rate)
                            dd.products__specs-desc 10%

                li.products__item(data-rating='3')
                    .products__heading(data-title="Канал комуникации")

                        != pugHelpers.Icon.call(locals, {iconName: 'products-3-icon', className: 'products__item-icon'})
                        .products__item-title SMS-сообщения

                    dl.products__specs
                        .products__specs-item.products__specs-item_rating.products__specs-item_3
                            dt.products__specs-term Эффективность

                            .products__specs-rating
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line

                            dd.products__specs-desc
                                .products__rating-val <span>3</span> / 5

                        .products__specs-item.products__specs-item_1
                            dt.products__specs-term Увидят (Open Rate)
                            dd.products__specs-desc 90%

                        .products__specs-item.products__specs-item_2
                            dt.products__specs-term Кликнут (Click Rate)
                            dd.products__specs-desc 1%

                li.products__item(data-rating='2')
                    .products__heading(data-title="Канал комуникации")
                        != pugHelpers.Icon.call(locals, {iconName: 'products-4-icon', className: 'products__item-icon'})
                        .products__item-title Email-рассылка

                    dl.products__specs
                        .products__specs-item.products__specs-item_rating.products__specs-item_3
                            dt.products__specs-term Эффективность

                            .products__specs-rating
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line

                            dd.products__specs-desc
                                .products__rating-val <span>2</span> / 5

                        .products__specs-item.products__specs-item_1
                            dt.products__specs-term Увидят (Open Rate)
                            dd.products__specs-desc 15%

                        .products__specs-item.products__specs-item_2
                            dt.products__specs-term Кликнут (Click Rate)
                            dd.products__specs-desc 5%

                li.products__item(data-rating='1')
                    .products__heading(data-title="Канал комуникации")

                        != pugHelpers.Icon.call(locals, {iconName: 'products-5-icon', className: 'products__item-icon'})
                        .products__item-title Браузерный Push

                    dl.products__specs
                        .products__specs-item.products__specs-item_3
                            dt.products__specs-term Эффективность

                            .products__specs-rating
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line
                                span.products__specs-line

                            dd.products__specs-desc
                                .products__rating-val <span>1</span> / 5

                        .products__specs-item.products__specs-item_1
                            dt.products__specs-term Увидят (Open Rate)
                            dd.products__specs-desc 30%

                        .products__specs-item.products__specs-item_2
                            dt.products__specs-term Кликнут (Click Rate)
                            dd.products__specs-desc 0,5%



            .products__button-w
                a.products__button.button(href="#") Обсудить проект


        != pugHelpers.Icon.call(locals, {iconName: 'products-bg', className: 'products__bg'})

        != pugHelpers.Icon.call(locals, {iconName: 'products-bg-2', className: 'products__bg products__bg_second'})
