.trust {
    position: relative;
    overflow: hidden;

    &__container {
        padding-top: 100px;
        padding-bottom: 50px;

        @include mq($small) {
            padding-top: 100px;
            padding-bottom: 50px;
        }

        @include mq($medium) {
            padding-top: 83px;
        }
    }

    &__title {
        margin-bottom: 35px;

        @include mq($small) {
            margin-bottom: 65px;
        }
    }

    &__list {
        margin-right: -10px;
        margin-left: -10px;
        display: flex;
        justify-content: space-between;

        flex-wrap: wrap;

        @include mq($small) {
            justify-content: flex-start;
        }

        @include mq($medium) {
            margin-right: -10px;
            margin-left: -10px;
            justify-content: space-between;
        }

    }

    &__item {
        margin-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        max-width: 50%;

        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mq($small) {
            margin-bottom: 30px;
            max-width: 20%;
            height: auto;

        }

        @include mq($medium) {
            margin-bottom: 40px;
            padding-right: 10px;
            padding-left: 10px;
            max-width: 14.2%;
        }

    }

    &__logo {

    }

}
