.request {
    position: relative;
    // overflow: hidden;

    @include mq($small) {

    }

    @include mq($medium) {

    }

    &__bg {
        z-index: -1;
        position: absolute;
        left: 0;
        fill: transparent;
        display: none;
        @include mq($small) {
            bottom: 150px;
            display: block;
        }

        @include mq($medium) {
            bottom: -280px;

        }

    }

    &__container {
        padding-top: 25px;
        padding-bottom: 25px;
        @include mq($small) {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        @include mq($medium) {
            padding-top: 75px;
            padding-bottom: 75px;
        }

    }

    &__w {
        position: relative;
        padding-top: 0px;
        padding-right: 25px;
        padding-bottom: 45px;
        padding-left: 25px;
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
        background: #3976f4 url('../img/general/request-bg.webp') 0 0 no-repeat;
        background-size: cover;
        // background-clip: content-box;
        color: #fff;
        border-radius: 10px;

        @include mq($small) {
            padding-top: 38px;
            padding-bottom: 38px;


            @include padding-right(40px);
            @include padding-left(40px);
            flex-direction: column;
            align-items: flex-start;
        }

        @include mq($medium) {
            @include padding-right(50px);
            @include padding-left(50px);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }


    }

    &__icon {
        z-index: -1;
        position: absolute;
        top: -20px;
        left: -30px;
        width: 48px;
        height: 48px;
        @include mq($small) {
            // top: -20px;
            // left: -30px;
            // width: 48px;
            // height: 48px;
        }

        @include mq($medium) {
            top: -38px;
            left: -48px;
            width: 74px;
            height: 74px;
        }
    }

    &__entry {
        // margin-bottom: 25px;
        // padding-right: 40px;

        width: 100%;

        @include mq($small) {
            margin-bottom: 0;
            // padding-right: 80px;
            width: 50%;
        }

        @include mq($medium) {
            margin-bottom: 0;
            width: 28%;
        }

    }

    &__title {
        margin-bottom: 20px;
        color: #fff;
        @include mq($small) {

        }

        @include mq($medium) {
        }

    }

    &__text {
        // font-weight: normal;
        // line-height: 1.5;
        font-size: 14px;
        @include mq($medium) {
            font-size: 16px;
        }

        p {
            margin-bottom: 20px;
        }

    }

    &__button {
        margin-top: 40px;
        width: 100%;
        @include mq($small) {

        }

        @include mq($medium) {
            margin-top: 0;
            width: auto;
        }
    }


    &__image {
        // transform: translateX(-50%);
        order: -1;

        @include mq($small) {
            position: absolute;
            top: -10px;
            right: 0;
            max-width: 50%;
        }

        @include mq($medium) {
            top: -47px;
            left: 50%;
            right: auto;
            max-width: 100%;
            transform: translateX(-50%);
        }

    }

}

.request_second {
    background-color: #f3f9fd;
    .request__container {
        padding-top: 34px;
        padding-bottom: 34px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        @include mq($small) {
            flex-wrap: nowrap;
        }

        @include mq($medium) {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    .request__entry,
    .request__form {
        @include mq($small) {
            width: 50%;
        }
    }

    .request__entry {
        @include mq($small) {
            padding-right: 90px;

        }

        @include mq($medium) {
            // padding-right: 200px;
        }
    }


    .request__title {
        margin-bottom: 16px;
        font-size: 22px;
        color: #3976f4;
        font-weight: 600;
        line-height: 1.2;

        @include mq($small) {

        }

        @include mq($medium) {
            margin-bottom: 20px;
            font-size: 50px;

        }

    }

    .request__text {
        font-family: $montserrat;
        font-size: 12px;
        line-height: 1.5;
        @include mq($small) {

        }

        @include mq($medium) {
            font-size: 16px;
        }
    }

}
